body {
    margin: 3%;
}

form {
    display: block;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin-top: 1rem;
}

input[type=submit] {
    margin-top: 1rem;
}

tr { display: block; float: left; }
th, td { display: block; }

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

.flash-message {
    width: 95%;
    height: 2rem;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    line-height: 2rem;
}
.fail {
    background-color: #ff7979;
    color: #690404;
}
.success {
    background-color: #d2ffa5;
    color: #0f7300;
}